<% if (post.link){ %>
  <h2 itemprop='name'>
    <a href='<%- url_for(post.link) %>' target='_blank' itemprop='url'><%= post.title %></a>
  </h2>
<% } else if (post.title){ %>
  <% if (index){ %>
    <h2 itemprop='name'>
      <a href='<%- url_for(post.path) %>'><%= post.title %></a>
    </h2>
  <% } else { %>
    <h2 itemprop='name'>
      <%= post.title %>
    </h2>
  <% } %>
<% } %>
